.footer {
  background-color: var(--black);
  padding-block: 4rem;
  display: grid;
  place-items: center;
  gap: 2rem;
  text-align: center;
}
.footer-line {
  background-color: var(--white);
  width: min(100%, 15rem);
  height: 1px;
}
.copyright,
.copyright a {
  color: var(--white);
}
.copyright a {
  text-decoration: underline;
}
