.header {
  position: fixed;
  inset: auto 0;
  z-index: 1;
  padding: 0.7rem;
  transition: 0.3s;
  z-index: 100;
}
.header[data-active="true"] {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.header__logo {
  width: min(100%, 7rem);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.indicator-scroll-line {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  background-color: hsl(208, 92%, 59%);
  box-shadow: 0 0 1rem 0.2rem blue;
  z-index: 20;
}
