.ad {
  height: 70vh;
  overflow: hidden;
}
.ad-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 5;
}
.ad p {
  font-size: clamp(1.1rem, 7vw, 2rem);
}
.swiper {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}
.swiper-slide-1 {
  background-color: hsl(0, 0%, 0%);
}
.swiper-slide-2 {
  background-color: hsl(0, 0%, 100%);
}
.swiper-slide-2 p {
  color: var(--black);
}
