/* from left opacity stagger */
.hidden-left {
  opacity: 0;
  transform: translateX(-50%);
}
.hidden-left.active {
  animation: left forwards 0.8s ease-out;
}
@keyframes left {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.hidden-right {
  opacity: 0;
  transform: translateX(50%);
}
.hidden-right.active {
  animation: right forwards 0.8s ease-out;
}
@keyframes right {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.hidden-bottom {
  opacity: 0;
  transform: translateY(50%);
}
.hidden-bottom.active {
  animation: bottom forwards 0.8s ease-out;
}
@keyframes bottom {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
